<!--SearchBar-->
<div class="barTop">
  <div class="carrinho">
    <img src="../assets/img/carrinhobb.png" width="80px" height="80px">
  </div>
  <!--AREA DE LOGIN E CADASTRO DO CLIENTE-->
  <div class="entrada">
    <div class="login">
    <a href="#">
      <img src="../assets/img/login.png" width="40px" height="40px">
      <h5 class="login-text">Login</h5>
    </a>
    </div>
    <div class="signup">
      <a href="#">
        <img src="../assets/img/sign-up.png" width="40px" height="40px">
        <h5 class="signup-text">Cadastre-se</h5>
      </a>
    </div>
    <div class="shopping-cart">
      <a href="#">
        <img src="../assets/img/shopping-cart.png" width="40px" height="40px">
        <h5 class="shopping-cart-text">Carrinho</h5>
      </a>
    </div>
  </div>

    <!--//AREA DE LOGIN E CADASTRO DO CLIENTE-->

    <!--BARRA DE PESQUISA E LOGO DO SITE-->

  <h1 class="babystore" font-color="black" left="50%">BabyStore</h1>
  <div class="searchbar">
    <div class="wrap" >
      <div class="search">
         <input type="text" class="searchTerm" placeholder="Digite o que você procura">
         <button type="submit" class="searchButton">

        </button>
      </div>
   </div>
  </div>
  <!--//AREA DE LOGIN E CADASTRO DO CLIENTE-->
</div>
<!--//Searchbar-->
<!------NavBar------>
<div class="navbar">
  <nav class="navbar navbar-expand navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!------//Navbar------>
<!-----Carousel----->
<div class="carrossel">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-color: #e8e6e7;">
        <img src="../assets/img/img1.jpg" class="img-fluid" alt="Responsive image" height="32rem" width="100%">
      </div>
      <div class="carousel-item" style="background-color: #a1b9ca;">
        <img src="../assets/img/img2.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item" style="background-color: #c5e2e9;">
        <img src="../assets/img/img3.jpg" class="img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!---- //Carousel  ---->
<!-- IMAGENS CIRCULARES -->
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <img class="img-rounded" src="../assets/img/fantasia4.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Fantasias</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-rounded" src="../assets/img/fantasia2.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Times</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-rounded" src="../assets/img/fantasia1.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Roupinhas</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <hr>
  <h1 class="mensagem" style="color:#00B4CC">Artigos Infantis</h1>

<!-- //IMAGENS CIRCULARES -->
<!-- CARROSEL DE ITENS -->
<div class="container-xl">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../assets/img/sapatinhos.webp" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Calçados</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../assets/img/enxoval.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Enxovais  </h4>
									<p>Vivamus fermentum in arcu in aliquam. Quisque aliqua porta odio in fringilla vivamus.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../assets/img/modaBebe.webp" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Moda Bebê</h4>
									<p>Convallis eget pretium eu, bibendum non leo. Proin susc ipit purus adipiscing dolor.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../assets/img/brinquedos.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Brinquedos</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../assets/img/acessorios.webp" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Acessórios</h4>
									<p>Vivamus fermentum in arcu in aliquam. Quisque aliqua porta odio in fringilla vivamus.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../assets/img/alimentacao.png" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Alimentação</h4>
									<p>Convallis eget pretium eu, bibendum non leo. Proin susc ipit purus adipiscing dolor.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../assets/img/fantasia32.webp" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Fantasias</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../assets/img/passeio.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Passeio</h4>
									<p>Vivamus fermentum in arcu in aliquam. Quisque aliqua porta odio in fringilla vivamus.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../assets/img/time.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Produtos de times</h4>
									<p>Convallis eget pretium eu, bibendum non leo. Proin susc ipit purus adipiscing dolor.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>

<!-- //CARROSSEL DE ITENS  -->

